/* STONE CONTAINER ---------------------------------------------- */
.stone-container { }
.section.stone-container {
  padding-bottom: 0;
}
.stone-container h2 { }
.stone-container .error-message {
  padding-bottom: 20px;
}
.stone-grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
  margin: 0 -10px;
}
.stone-grid .stone {
  width: 33.3%;
  margin: 0 0 20px;
  padding: 0 10px;
}
.stone-grid .stone .wrap { }
.stone-grid .stone .image { 
  position: relative;
  margin: 0 0 10px;
}
.stone-grid .stone .image .stone-link {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 1;
  height: 0;
  width: 100%;
  padding: 0 0 56.25%;
  border-radius: 20px;
}
.stone-grid .stone .image .stone-link img {
  display: block;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: transform 200ms ease-in-out;
  transform: scale(1);
}
.stone-grid .stone .image .stone-link:hover img {
  transform: scale(1.05);
}
.stone-grid .stone .info {
  padding: 0 10px;
}
.stone-grid .stone .title {
  margin-bottom: 0;
}
.stone-grid .stone .location { }


@media screen and (max-width: 750px) {

  /* STONE CONTAINER ---------------------------------------------- */
  .stone-grid .stone {
    width: 50%;
  }

}


@media screen and (max-width: 450px) {

  /* STONE CONTAINER ---------------------------------------------- */
  .stone-grid {
    -ms-flex-flow: column wrap;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    margin: 0;
  }
  .stone-grid .stone {
    width: 100%;
    padding: 0;
  }

}
